#about {
    padding-top: 80px;
    padding-bottom: 50px;
    color: white;
}

#about h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-bottom: 2px dashed white;
    margin-bottom: 20px;
}

.about-info img {
    width: 200px;
    border: 5px solid white;
    margin: 5px 15px 0 0;
    float: left;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
}

.btn-cv {
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    border-radius: 5rem;
    border: 2px solid #007bff;
    padding: 0.5rem 1.6rem;
    background-color: rgba(0,0,0,.3);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.btn-cv a {
    color: white;
    text-decoration: none;
}

.btn-cv:hover {
    box-shadow: 0 0 10px #ffffff;
}

.about-info h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.perso-info ul {
    padding: 0;
    margin-bottom: 10px;
    list-style: none;

    li{
        margin-bottom: 5px;
        
        i {
            width: 20px;
            margin-right: 5px;
            text-align: center;
        }
    }
}

