#about {
    padding-top: 80px;
    padding-bottom: 80px;
}

#about h3 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px dashed #007bff;
    margin-bottom: 15px;
    color: #007bff;
}

.about-info img {
    width: 200px;
    border: 5px solid white;
    margin: 5px 15px 0 0;
    float: left;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
}

.about-info h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.perso-info ul {
    padding: 0;
    margin-bottom: 10px;
    list-style: none;

    li{
        margin-bottom: 5px;
        
        i {
            width: 20px;
            margin-right: 5px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 500px) {
    #about h3 {
        font-size: 20px;
    }
}

