footer {
    width: 100%;
    height: 0;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    overflow: hidden;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

footer .container {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    width: auto;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

footer ul {
    width: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer ul li a {
    color: white;
    font-size: 20px;
}

footer.sticky {
    height: 50px;
    position: fixed;
    z-index: 10;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    footer p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 500px) {
    .ng-footer-txt {
        display: none;
    }
}