<div id="quote">
    <p class="quote"><i class="fa fa-quote-left" aria-hidden="true"></i>
        <!-- La seule façon de faire du bon travail est d'aimer ce que vous faites.
        <br>Si vous ne l'avez pas encore trouvé, continuez à chercher. Ne vous contentez pas. -->
        Le seul moyen de faire quelque chose d'important est d'aimer ce que vous faites. 
        <br>Si vous n'avez pas encore trouvé, continuez à chercher. Ne vous arrêtez pas.
        <i class="fa fa-quote-right" aria-hidden="true"></i>
    </p>
    <p class="author">- STEVE JOBS -</p>
</div>