.dark {
    background-color: rgb(39, 38, 38);
}

.activity {
    background-image: url('../assets/img/bg_activities.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.activity:before {
    background-color: #303030;
    opacity: 0.6;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}