<app-nav></app-nav>

<div class="container">
  <app-about></app-about>
</div>

<div class="contrainer-fluid activity">
  <div class="container">
    <app-activities></app-activities>
  </div>
</div>

<div class="container">
  <app-resume></app-resume>
</div>

<div class="contrainer-fluid dark">
  <div class="container">
    <app-skills></app-skills>
  </div>
</div>

<div class="container">
  <app-quote></app-quote>
</div>

<div class="contrainer-fluid dark">
  <div class="container">
    <app-portfolio></app-portfolio>
  </div>
</div>

<div class="container">
  <app-testimonials></app-testimonials>
</div>

<app-footer></app-footer>