nav {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.navbar-brand img {
    width: 25px;
}

.navbar-nav {
    align-items: center;
}

nav a, .navbar-nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

nav.sticky {
    background-color: rgba(0,0,0,.8);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-expand-sm .navbar-collapse {
    text-align: center;
    justify-content: flex-end;
}

.modal-content, .btn-modal, .btn-in-modal {
    -webkit-box-shadow: 0 0 6px 3px #426084;
	-moz-box-shadow: 0 0 6px 3px #426084;
 	box-shadow: 0 0 4px #426084;
}

.btn-modal, .btn-in-modal {
    color: white;
    border-color: #007bff;
    background-color: transparent;
    border-radius: 5rem;
    padding: 0.5rem 1.6rem;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
}

.btn-in-modal {
    background-color: #007bff;
}

.btn-modal:hover, .btn-in-modal:hover {
    box-shadow: 0 0 10px #ffffff;
}

.btn-in-modal:hover {
    background-color: #026ada;
}

.navbar-nav a.active, .navbar-nav a:hover {
    color: #007bff;
    position: relative;
}

.navbar-toggler:focus {
    outline: 1px solid #007bff;
    box-shadow: 0 0 10px #ffffff;
}

#contactModal form input {
    margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
    nav, .navbar-brand {
        font-size: .8rem;
    }
}

