#skills {
    padding-top: 80px;
    padding-bottom: 50px;
    color: white;
}

.skill {
    width: 150px;
    text-align: center;
}

.skill h5 {
    font-size: 1rem;
    margin-bottom: 0;
}

.skill img {
    height: 75px;
    margin: 0 auto 10px !important;
}

.skill i {
    font-size: 11px;
    color: white;
}

.skill-rate {
    color: orange !important;
}
