/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    // background-color: #6B6C6D;
}

body.modal-open {
    padding-right: 0 !important;
}

.owl-theme .owl-nav [class*=owl-] {
    font-size: 25px;
    background: darkgray;
    border-radius: 50px;
    width: 50px;
    height: 20px;
    line-height: 15px;
    padding: 0;
    display: none;
}

.owl-carousel .owl-item img {
    width: auto;
    display: inline-block;
}

